<div id="workout">
  <p>
    <%= @workout.date %>
  </p>
  <h3>
    <strong><%= @workout.workout %></strong>
  </h3>
  <p>
    <%= @workout.content %>
  </p>
  <p>
    <%= @workout.length %>
  </p>
</div>
<div id="exercises">
  
</div>

<br>

<%= link_to "Back", root_path %>&nbsp;
<%= link_to "Edit", edit_workout_path(@workout) %>&nbsp;
<%= link_to "Delete", workout_path(@workout), method: :delete, data: { confirm: "Are you sure?" } %>